:host {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0 0 1px;
  display: block;
  min-height: 80px;
  padding: 15px 0;
  background: #303030;
}

nav {
  a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 15px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border-right: 1px solid #fff;
    height: 49px;

    &.router-link-active {
      color: #dfdfdf !important;
    }

    &.last {
      border-right: 0;
    }
    &.logo-item {
      border-right: 0;
      margin-left: 0;
    }
  }

  .menu-container {
    text-align: right;
  }
}


