<div class="sn-wrapper admin-dashboard">
    <div class="sn-container">
        <div class="sn-content ui-g">
            <div class="ui-md-12 ui-sm-12">
                <h1>Admin Dashboard</h1>
                <div *ngIf="scrollableResult">
                    <div infiniteScroll
                         (onScrollMethod)="scrollableResult.next()"
                         [scrollDistance]="350"
                         [scrollDisabled]="!scrollableResult.hasNext()">

                        <p-dataTable [value]="scrollableResult.getItems()">
                            <p-column field="id" header="Id"></p-column>
                            <p-column field="name" header="Name">
                                <template let-col let-car="rowData" pTemplate type="body">
                                    <br>
                                    {{car.firstName + ' ' + car.lastName}}
                                    <br>
                                    {{car.email}}
                                    <br>
                                </template>
                            </p-column>
                            <p-column styleClass="col-button">
                                <template let-car="rowData" pTemplate type="body">
                                    <button type="button" pButton (click)="selectCar(car)" icon="fa-search">
                                        <span class="ui-button-icon-left ui-c fa fa-fw fa-search"></span>
                                    </button>
                                </template>
                            </p-column>
                        </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
