.flyover .alert {
  left: 50%;
  top: 50%;
  position: fixed;
  z-index: 1050;

  zoom: 1.5;
}

.flyover .mask {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 1049;
}