<div class="sn-wrapper about">
    <div class="sn-container" *ngIf="user">
        <div class="sn-content ui-g">
            <div class="ui-md-12 ui-sm-12">
                <h1>PROFILE</h1>
            </div>
            <div class="ui-g-3"></div>
            <div class="ui-g-6">
                <form (submit)="onSubmit()" #userForm="ngForm" novalidate="novalidate">
                    <div class="table-container">
                        <div class="table-row">
                            <div class="table-left">
                                <h3 class="first">FIRST NAME:</h3>
                            </div>
                            <div class="table-middle">
                                <input id="firstName" name="firstName" type="text" pInputText [(ngModel)]="user.firstName" #firstName="ngModel" required/>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-left">
                                <h3 class="first">LAST NAME:</h3>
                            </div>
                            <div class="table-middle">
                                <input id="lastName" name="lastName" type="text" pInputText [(ngModel)]="user.lastName" #lastName="ngModel" required/>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-left">
                                <h3 class="first">EMAIL:</h3>
                            </div>
                            <div class="table-middle">
                                <input id="email" name="email" type="text" pInputText [(ngModel)]="user.email" #lastName="ngModel" required/>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-middle">
                                <h3 class="first">AVATAR:</h3>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-left">
                                <h3 class="first">BIRTH DATE:</h3>
                            </div>
                            <div class="table-middle">
                                <p-calendar id="birthDate" name="birthDate" dateFormat="dd/mm/yy" [(ngModel)]="user.profile.birthDate" [showIcon]="true" #birthDate="ngModel"></p-calendar>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-left">
                                <h3 class="first">COUNTRY:</h3>
                            </div>
                            <div class="table-middle">
                                <input id="country" name="country" type="text" pInputText [(ngModel)]="user.profile.country" #country="ngModel"/>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-left">
                                <h3 class="first">STATE:</h3>
                            </div>
                            <div class="table-middle">
                                <input id="state" name="state" type="text" pInputText [(ngModel)]="user.profile.state" #state="ngModel"/>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-left">
                                <h3 class="first">POSTAL CODE:</h3>
                            </div>
                            <div class="table-middle">
                                <input id="postalCode" name="postalCode" type="text" pInputText [(ngModel)]="user.profile.postalCode" #postalCode="ngModel"/>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-left">
                                <h3 class="first">CITY:</h3>
                            </div>
                            <div class="table-middle">
                                <input id="city" name="city" type="text" pInputText [(ngModel)]="user.profile.city" #city="ngModel"/>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-left">
                                <h3 class="first">ADDRESS:</h3>
                            </div>
                            <div class="table-middle">
                                <input id="address" name="address" type="text" max="512" pInputText [(ngModel)]="user.profile.address" #address="ngModel"/>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-middle">
                                <button pButton type="submit" label="Update" [disabled]="!userForm.form.valid"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ui-g-3"></div>
        </div>
    </div>
</div>

