<div class="fluid-container home">
  <div class="home-content flex flex-wrap-row flex-align-vertical-center flex-align-horizontal-stretch">
    <div class="adv-block">
      THE LARGEST GLOBAL NETWORK<br>
      OF SMALL GROUP MINISTRY LEADERS
    </div>

    <div class="login-block">
      <div class="login-container">
        <div class="login-form">

            <h4>
              <b>REGISTER FOR SGN</b>
            </h4>
            <p>Register now for the Small Group Network and receive a free resource that can help train your volunteer army to be better leaders and resources to your small group community.</p>
          <form (submit)="signInUser()" class="new_home_page" novalidate="novalidate">
              <input type="hidden" class="jsPlug" value="frm_user_register">
              <input type="hidden" name="ci_csrf_token" value="">
              <div class="form-group">
                <input type="text" [(ngModel)]="email" name="email" id="email" placeholder="Email address" value="" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="Password" class="form-control grey_bg">
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-default register_btn">Register</button>
              </div>
              <p>Already have an account? <a [routerLink]="['/']" class="new_home_login">Login</a></p>
            </form>

        </div>
      </div>
    </div>

  </div>
</div>
