.messages-cont {
  .ui-growl{

  }
  .ui-accordion {
    .ui-accordion-header.ui-state-default {
      border: 0;
      a {
        color: #ffffff;
      }
      span {
        color: #ffffff;
      }
    }
  }
}
