@font-face {
  font-family: 'proxima_n_w15_boldregular';
  src: url('../../fonts/proxima/proxima-nova-bold-greek.eot');
  src: url('../../fonts/proxima/proxima-nova-bold-greek.eot?#iefix') format('embedded-opentype'), url('../../fonts/proxima/proxima-nova-bold-greek.woff') format('woff'), url('../../fonts/proxima/proxima-nova-bold-greek.ttf') format('truetype'), url('../../fonts/proxima/proxima-nova-bold-greek.svg#proxima_n_w15_boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_n_w01_regregular';
  src: url('../../fonts/proxima/proxima-nova-regular-latin-1.eot');
  src: url('../../fonts/proxima/proxima-nova-regular-latin-1.eot?#iefix') format('embedded-opentype'), url('../../fonts/proxima/proxima-nova-regular-latin-1.woff') format('woff'), url('../../fonts/proxima/proxima-nova-regular-latin-1.ttf') format('truetype'), url('../../fonts/proxima/proxima-nova-regular-latin-1.svg#proxima_n_w01_regregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_n_w15_smbdregular';
  src: url('../../fonts/proxima/proxima-nova-semibold-greek.eot');
  src: url('../../fonts/proxima/proxima-nova-semibold-greek.eot?#iefix') format('embedded-opentype'), url('../../fonts/proxima/proxima-nova-semibold-greek.woff') format('woff'), url('../../fonts/proxima/proxima-nova-semibold-greek.ttf') format('truetype'), url('../../fonts/proxima/proxima-nova-semibold-greek.svg#proxima_n_w15_smbdregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: "proxima_n_w01_regregular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dcdcdc none repeat scroll 0 0 !important;
  font-size: 12px !important;
  margin: 0 !important;
  padding: 0 !important;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

#application-version {
  position: fixed;
  bottom: 0;
  right: 0;
  color: transparent;
  padding: 5px;
  font-size: 4pt;
  width: 100px;
  &:hover {
    color: inherit;
    font-size: 11pt;
    width: auto;
  }
}
