<div class="fluid-container about">
  <div class="about-content">

    <div class="row">
      <div class="col-md-12 col-sm-12"> <!-- start content -->
        <h1>ABOUT</h1>
        <p><strong>THE STORY:</strong> Because God had positioned me to be leading a successful Small Group Ministry in a well known church, I would regularly hear from Small Group Point People searching for answers to
          their ministry questions. Over time two things became clear; <br>1) Many of their questions were about the basic fundamentals of Small Group Ministry; <br>2) They didn’t know where to turn for answers to their
          questions. </p>
        <p><strong>THE PROMPTING:</strong> In 2006, God gave me the idea to start a network where Small Group Point People could find encouragement and support from one another. There was no budget, no structure and I
          didn’t even know if anyone would be interested. But God brought back to mind the early days of my ministry when I was the one looking for help. How could I turn a deaf ear to all those people looking for help?
        </p>
        <p><strong>THE FIRST MOVE: </strong>God began connecting me with people with the same passion; when it comes to leading a Small Group Ministry, “Nobody Should Stand Alone”. Soon we had a group of volunteer leaders
          from across North America and we launched the Purpose Driven Small Group Network in 2007. </p>
        <p><strong>THE NEXT MOVE: </strong>As the network grew from a handful of people to hundreds, and then over a thousand, we recognized that we were reaching a very broad spectrum of people and churches. So, in July
          of 2010, we simplified our name and scope to the Small Group Network.</p>
        <p><strong>YOUR MOVE: </strong>The SGN is now international, connecting thousands of Small Group Point People around the world. It is my prayer that you will join us in connecting to and sharing resources with
          other Small Group Point People so that we might all develop healthy and strong small groups.</p>
        <p><img src="./assets/img/sign.jpg"></p>
        <p></p>
        <h4>Steve Gladen</h4>
        <p></p> <!-- end content -->
      </div>
    </div>

  </div>
</div>

