:host {
  display: block;
  height: 50px;
  padding: 15px 0;
  background: #303030;
}

footer {
  color: #ffffff;
  width: 100%;

  .footer-container {

    .social {
      a {
        color: #ffffff;
        margin-left: 10px;

        img {
          width: 20px;
          height: 20px;
        }

      }
    }


  }

}
