<div class="sn-wrapper">
    <div class="sn-container">
        <div class="sn-content">
            <footer>
                <div class="footer-container flex flex-wrap-row flex-align-horizontal-stretch flex-align-vertical-center">
                    <div>
                        © 2016, SMALL GROUP NETWORK
                    </div>
                    <div class="social flex flex-wrap-row flex-align-vertical-center flex-align-horizontal-right">
                        <a href="#">
                            <img src="./assets/img/rss.png">
                        </a>
                        <a href="#">
                            <img src="./assets/img/facebook.png">
                        </a>
                        <a href="#">
                            <img src="./assets/img/twitter.png">
                        </a>
                    </div>
                </div>

            </footer>
        </div>
    </div>
</div>
